<!DOCTYPE html>
<html>
<head>
    <title>自定义知识消消乐</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div id="main-menu" class="container"></div>
    <div id="level-menu" class="container" style="display: none;"></div>
    <div id="game" class="container" style="display: none;"></div>
    <div id="upload" class="container" style="display: none;"></div>
    <div id="end-modal" class="modal"></div>

    <script src="/js/main.js"></script>
    <script src="/js/game.js"></script>
    <script src="/js/scores.js"></script>
    <script src="/js/upload.js"></script>
</body>
</html>